* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.701), rgba(10, 19, 86, 0.888)),
    url("./assets/background.png");
  overflow-y: hidden;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
